[Unit]
Description=LordFilm Movie Parser Scheduler
After=network.target
Wants=podman.service

[Service]
Type=simple
User=kolla
Group=kolla
WorkingDirectory=/home/kolla/LordParser

# Ожидание готовности контейнера movie_postgres
ExecStartPre=/bin/bash -c 'until [ "$(podman inspect -f {{.State.Health.Status}} movie_postgres)" = "healthy" ]; do sleep 2; echo "Waiting for movie_postgres container to be healthy..."; done; echo "PostgreSQL container is healthy!"'

ExecStart=/bin/bash -c 'cd /home/kolla/LordParser && /usr/bin/python3 -u db_scheduler.py'
Restart=on-failure
RestartSec=30s
Environment="PYTHONUNBUFFERED=1"
Environment="HOME=/home/kolla"
Environment="PYTHONPATH=/home/kolla/LordParser/"
StandardOutput=file:/home/kolla/LordParser/parser.log
StandardError=file:/home/kolla/LordParser/parser.log

# Защита и ограничения
ProtectSystem=strict
ReadWritePaths=/home/kolla/LordParser/
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target